<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

    <title>{% block title %}Minhas Finanças{% endblock %}</title>
</head>
<body>

    <header class="main-header">
        <div class="container">
            <a href="{{ url_for('main.home') }}" class="logo-link">
                <span class="logo-text">Minhas Finanças</span>
            </a>
            <nav class="main-nav">
                <ul>
                    <li><a href="#">Lançamento</a></li>
                    <li><a href="#">Extrato/Cartão</a></li>
                    <li><a href="#">Cadastros</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>